%h1 Listing activities

%table
  %tr
    %th Title
    %th Club
    %th User
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.title
      %td= activity.club_id
      %td= activity.user_id
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Activity', new_activity_path
