%p#notice= notice

%p
  %b Title:
  = @activity.title
%p
  %b Club:
  = @activity.club_id
%p
  %b User:
  = @activity.user_id

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
